<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/button.css"/>
</head>
<body>

<form action="/circle_print/" method="get">
    <b>Введите радиус:</b><br>
    <table>
       <td>
           <tr><input type="text" name="radius" maxlength="10" size="15"></tr>
       </td>
     <td> <td class="center" colspan="3"> <img src="../static/image/circle.png" /> </td></td>
<tr></tr>
    </table>

<input type="submit" value="ткнуть">
<p><a href="/" class='back'>назад</a></p>
</form>


</body>
</html>