<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="../static/css/button.css"/>
<title>Самый настоящий "хомяк".</title>
</head>

<body>
<h1>This is a homepage.</h1>
<h2>Здравствуйте! Сегодня {{ current_date }}</h2>
<h3>Шаблон привязан к основному проекту в файле functions.py</h3>
<p><a href="/timer" class='back'>часы</a></p>
<h3>Выберите интересующую фигуру:</h3>
<h3><p><a href="/square" class='back'>   квадрат   </a></p></h3>
<h3><p><a href="/triangle" class='back'> Треугольник </a></p></h3>
<h3><p><a href="/paral" class='back'>Параллелипипед</a></p></h3>
<h3><p><a href="/circle" class='back'>   Кругаль   </a></p></h3>
</body>
</html>