<!DOCTYPE html>
<html>
<head>
    <title>треугольник</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" type="text/css" href="../static/css/button.css"/>
</head>
<body>
<form action="/triangle_print/" method="get">
    <b>Введите стороны:</b><br>

    <table>
        <tr>
            <td class="center"><b>A</b></td>
            <td class="center">B</td>
            <td class="center">C</td>
        </tr>
        <tr>
            <td>
                <input type="text" name="a" maxlength="10" size="15">
            </td>
            <td>
                <input type="text" name="b" maxlength="10" size="15">
            </td>
            <td>
                <input type="text" name="c" maxlength="10" size="15">
            </td>
        </tr>
        <tr>
            <td class="center" colspan="3"> <img src="../static/image/web_pic56.gif" /> </td>
        </tr>
    </table>
<input type="submit" value="ткнуть">
</form>
<p><a href="/" class='back'>назад</a></p>
</body>
</html>